---
import Layout from '../layouts/Layout.astro'
---

<Layout 
    title="Tienda"
    description="Honda motos - Tienda de honda motos - Los precios del mercado - Las mejores opciones para ti">
    
    <main>
        <h1>Tienda</h1>
    </main>

</Layout>